---
import { getI18N } from '@/i18n';
import MiddleSection from '../MiddleSection.astro';
import SvgDownload from '@/components/icons/SvgDownload.astro';
import SvgPhone from '@/components/icons/SvgPhone.astro';
import SvgMail from '@/components/icons/SvgMail.astro';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section class='bg-sky-600 pt-12 dark:bg-sky-800'>
  <div
    class='mx-auto flex w-full max-w-screen-lg flex-col gap-8 px-2 py-4 md:grid md:grid-cols-2 md:py-8'
  >
    <div class='mx-auto'>
      <picture>
        <img
          width='300'
          height='300'
          src='/img/profile-01-grober-gonzales.jpeg'
          alt='Grober Gonzales'
          class='aspect-square h-auto w-[300px] rounded-full object-cover object-center'
        />
      </picture>
      <div class='flex flex-col text-center'>
        <span class='text-3xl font-bold text-sky-50'>Grober Gonzales</span>
        <span class='text-sky-200'>{i18n.home_hero_photo_description}</span>
      </div>
    </div>
    <div class='mx-auto flex flex-col gap-3 leading-6 text-white'>
      <h1 class='text-2xl dark:text-sky-300'>{i18n.home_hero_title}</h1>
      <p>
        {i18n.home_hero_p1}
      </p>
      <p>
        {i18n.home_hero_p2}
      </p>
      <div class='flex flex-col flex-wrap justify-center gap-2'>
        <a
          class='inline-flex items-center gap-2 rounded-md bg-sky-100/10 p-2 underline transition-colors hover:bg-sky-400/50'
          href='/download/fullstack-grober_gonzales.pdf'
          download=''
          target='_blank'
        >
          <SvgDownload />
          {i18n.home_hero_a_cv}
        </a>
        <span
          class='inline-flex items-center gap-2 rounded-md bg-sky-100/10 p-2'
        >
          <SvgPhone />
          +51 946 814 055
        </span>
        <span
          class='inline-flex items-center gap-2 rounded-md bg-sky-100/10 p-2 font-bold'
        >
          <SvgMail />
          grober_gonzales@hotmail.com
        </span>
      </div>
    </div>
  </div>
</section>
<MiddleSection class='text-sky-600 dark:text-sky-800' />
