---
import Image from 'astro/components/Image.astro';
import SvgDownload from '../icons/SvgDownload.astro';
import SvgExternal from '../icons/SvgExternal.astro';

interface Props {
  name: string;
  file: string;
  src: ImageMetadata;
  url: string;
}

const { name, file, src, url } = Astro.props;
---

<article
  class='flex size-full flex-col bg-sky-600 text-white shadow-md shadow-black/25 dark:bg-sky-950'
>
  <h5 class='p-1 text-xs md:text-sm'>{name}</h5>
  <div class='flex-grow'></div>
  <div class='m-1 flex gap-3 md:gap-1'>
    <a
      class='rounded-sm bg-black/25 p-3 underline transition-colors hover:bg-black/50'
      href={file}
      target='_blank'
      download=''
    >
      <span class='sr-only'>Download</span>
      <SvgDownload />
    </a>
    <a
      class='rounded-sm bg-black/25 p-3 underline transition-colors hover:bg-black/50'
      href={url}
      target='_blank'
    >
      <span class='sr-only'>External</span>
      <SvgExternal />
    </a>
  </div>
  <a href={file} target='_blank'>
    <span class='sr-only'>{name}</span>
    <div class='overflow-hidden'>
      <Image
        class='aspect-video h-full w-full object-cover object-center transition-all duration-300 hover:rotate-1 hover:scale-105 hover:brightness-75'
        src={src}
        alt={name}
      />
    </div>
  </a>
</article>
