---
import { getI18N } from '@/i18n';
import DiagonalSection from '../DiagonalSection.astro';
import SvgLinkedin from '@/components/icons/SvgLinkedin.astro';
import SvgGithub from '@/components/icons/SvgGithub.astro';
import SvgLogo from '../icons/SvgLogo.astro';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const routes = [
  {
    route: i18n.app_nav_route_home,
    display: i18n.app_nav_names_home,
  },
  {
    route: i18n.app_nav_route_projects,
    display: i18n.app_nav_names_projects,
  },
];
---

<footer class='text-white'>
  <DiagonalSection class='text-sky-700 dark:text-sky-950' />
  <div class='bg-sky-700 pb-4 dark:bg-sky-950'>
    <section class='mx-auto flex w-full max-w-screen-lg flex-col gap-4 px-2'>
      <!-- More info -->
      <div class='flex flex-col justify-between gap-8 md:flex-row'>
        <!-- Left -->
        <div>
          <a
            href={i18n.app_nav_route_home}
            class='flex justify-center p-2 text-lg font-bold'
          >
            <span class='sr-only'>{i18n.app_nav_names_home}</span>
            <SvgLogo class='size-16' />
          </a>
          <div class='flex w-full justify-center gap-2'>
            <a
              class='size-6'
              href='https://www.linkedin.com/in/gegonzalesd'
              target='_blank'
            >
              <SvgLinkedin />
              <span class='sr-only'>Linkedin</span>
            </a>
            <a
              class='size-6'
              href='https://github.com/ggonzalesd'
              target='_blank'
            >
              <SvgGithub />
              <span class='sr-only'>github</span>
            </a>
          </div>
        </div>
        <!-- Right -->
        <div
          class='flex flex-col items-center justify-center gap-4 md:flex-row'
        >
          <div class='flex flex-col items-center gap-2 md:items-start'>
            <span class='text-lg font-bold uppercase'
              >{i18n.app_footer_site_map}</span
            >
            {
              routes.map(({ route, display }) => (
                <a class='text-sky-100 hover:underline' href={route}>
                  {display}
                </a>
              ))
            }
          </div>
        </div>
      </div>
      <!-- All Rights -->
      <div class='h-1 w-full rounded-md bg-sky-600 dark:bg-sky-900'></div>
      <div>
        <span>Grober Gonzales 2024</span>
      </div>
    </section>
  </div>
</footer>
