---
import { getI18N } from '@/i18n';

import LanguageSelector from './LanguageSelector.astro';

import SvgMenu from '../icons/SvgMenu.astro';
import SvgClose from '../icons/SvgClose.astro';
import SvgLogo from '../icons/SvgLogo.astro';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const routes = [
  {
    route: i18n.app_nav_route_home,
    display: i18n.app_nav_names_home,
  },
  {
    route: i18n.app_nav_route_about,
    display: i18n.app_nav_names_about,
  },
  {
    route: i18n.app_nav_route_projects,
    display: i18n.app_nav_names_projects,
  },
];
---

<header
  id='header-main'
  class='fixed top-0 left-0 z-50 h-12 w-full text-white sm:p-2'
>
  <!-- bg-black/20  -->
  <div
    class='mx-auto flex h-full max-w-screen-lg items-center justify-between gap-4 px-2 backdrop-blur-sm sm:rounded-md'
  >
    <a href={i18n.app_nav_route_home}>
      <span class='sr-only'>{i18n.app_nav_names_home}</span>
      <SvgLogo class='size-8 md:size-4' /></a
    >

    <nav
      id='header-tools'
      class='fixed top-0 left-0 flex h-dvh w-full -translate-y-full flex-col items-center gap-2 bg-black/90 transition-transform duration-150 target:translate-y-0 md:static md:h-full md:translate-y-0 md:flex-row md:bg-transparent'
    >
      <div class='flex w-full justify-between p-1 md:hidden'>
        <a class='p-1' href={i18n.app_nav_route_home}>
          <SvgLogo class='size-8' />
          <span class='sr-only'>Logo</span>
        </a>
        <a href='#header-main' class='p-1'>
          <SvgClose />
        </a>
      </div>
      <div
        class='flex flex-grow flex-col items-center justify-center gap-6 text-xl md:flex-grow-0 md:flex-row md:gap-4 md:text-sm'
      >
        {
          routes.map(({ route, display }) => (
            <a class='header-link rounded-md px-2 font-bold' href={route}>
              {display}
            </a>
          ))
        }
        <LanguageSelector />
      </div>
    </nav>
    <a href='#header-tools' class='inline-flex md:hidden'>
      <SvgMenu />
    </a>
  </div>
</header>

<style scoped>
  .header-link {
    text-shadow: 0px 0px 12px rgba(39 39 42 / 100%);
  }
  header > div {
    animation: header-bg-change linear forwards;
    background-color: rgba(39 39 42 / 10%);
    animation-timeline: scroll();
    animation-range: 48px 240px;
  }

  @keyframes header-bg-change {
    from {
      background-color: rgba(39 39 42 / 10%);
    }
    to {
      background-color: rgba(39 39 42 / 100%);
    }
  }
</style>
