---
import cn from 'classnames';
import Header from '@/components/app/Header.astro';
import Footer from '@/components/app/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
interface Props {
  title: string;
  description?: string;
  class?: string;
}

const { currentLocale } = Astro;
const { title, description, class: className } = Astro.props;
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset='UTF-8' />
    <link rel='icon' type='image/svg+xml' href='/rocket.svg' />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='theme-color' content='#0284c7' />

    <title>{title}</title>
    <meta name='description' content={description} />

    <!-- Facebook Meta Tags -->
    <meta property='og:url' content='https://ggonzalesd.vercel.app/' />
    <meta property='og:type' content='website' />
    <meta property='og:title' content='Grober Gonzales' />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={import.meta.env.SITE + '/photo.jpeg'} />

    <!-- Twitter Meta Tags -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta property='twitter:domain' content='ggonzalesd.vercel.app' />
    <meta property='twitter:url' content='https://ggonzalesd.vercel.app/' />
    <meta name='twitter:title' content='Grober Gonzales' />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content={import.meta.env.SITE + '/photo.jpeg'} />

    <ViewTransitions />
  </head>
  <!-- pt-12 -->
  <body
    class='flex min-h-screen flex-col justify-between bg-zinc-300 dark:bg-gradient-to-br dark:from-zinc-800 dark:to-zinc-950'
  >
    <Header />
    <main class={cn(className, 'flex-grow')}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
